// ==========================================================================
// Media Queries
// ==========================================================================

@mixin mq($break) {
    $value: map-get($breaks, $break);
    $med: map-get($breaks, 'med');
    
    @if $value == null {
        @error "`#{$break}` is not a valid breakpoint name";
    }

    @else if $value < $med {
        @media(max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
}
    }
}

// ==========================================================================
// Flexbox Configuration
// ==========================================================================

@mixin flex($direction: column, $justify: space-between, $wrap: null){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin centered($width: null) {
    width: $width;
    margin: 0 auto;
}

// ==========================================================================
// Grid Configuration
// ==========================================================================

@mixin flex--grid($max-width: $grid--width, $just: space-between, $margin: $margin--two) {
    max-width: pixels($max-width);
    margin-top: $margin;
    margin-bottom: $margin;
    @include mq('med') {
        display: block;
    }
    @include mq('lg') {
        @include flex($wrap: wrap, $direction: null, $justify: $just);
    }
}

@mixin grid--gutters($width: $grid--gutters, $bottom: pem(16)) {
    margin-left: $width;
    margin-right: $width;
    margin-bottom: $bottom;
}



@mixin grid--row($width: $grid-row--width) {
    width: $width;
}

@mixin blockquote($padding: pem(16), $color: $color--secondary, $margin: $margin--two) {
    padding: 0 0 0 pem(16);
    border-left: solid thick $color;
    font-style: italic;
    margin-top: $margin;
    margin-bottom: $margin;
}

// ==========================================================================
// BEM Selectors
// ==========================================================================

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}