// ==========================================================================
// Images
// ==========================================================================

%img--center {
    display: block;
    margin: 0 auto;
}

// ==========================================================================
// Buttons
// ==========================================================================

%btn {
    border: none;
    border-radius: $border--radius;
    color: $white;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    border-radius: $border--radius;
    padding: pem(15) pem(55);
    margin: $margin--two $margin--three;
}


// ==========================================================================
// Alignment
// ==========================================================================

%text--center {
    text-align: center;
}

%centered--x {
    margin-left: auto;
    margin-right: auto;
}

// ==========================================================================
// Flexbox
// ==========================================================================

%flex--column {
    display: flex;
    flex-direction: column;
}
