// ==========================================================================
// Standard Page Links
// ==========================================================================

%link {
    text-decoration: none;
    color: $color--primary;
    &:hover {
        a {
            color: $color--nav-link-hover;
        }
        color: $color--secondary;
    }
}

// ==========================================================================
// Images
// ==========================================================================

%img--frame {
    border: thin solid grey;
    padding: pem(16);
}

%img--center {
    display: block;
    margin: 0 auto;
}

%img--avatar {
    display: block;
    margin: $margin--two auto;
}

// ==========================================================================
// Headlines
// ==========================================================================

%headline--primary {
    font-weight: $font-weight--ultra-bold;
    color: $color--secondary;
    margin-left: $margin--two;
}

%headline--secondary {
    font-weight: $font-weight--thin;
}

// ==========================================================================
// Navigation
// ==========================================================================

//Nav items

%nav--item {
    display: block;
    margin: $margin--one 0;
    width: 100%;
    padding: pem(12);
    &:hover, :active {
        border-radius: $border--radius;
        background: $color--secondary;
        color: white;
    }
}

//Nav Links

%nav--a {
    text-decoration: none;
    color: black;
    &:hover {
        color: white;
    }
}

// ==========================================================================
// Grid
// ==========================================================================

%grid--centered {
    margin-left: auto;
    margin-right: auto;
}

%grid--rounded {
    padding-top: pem(8);
    border-radius: $border--radius;
    text-align: center;
    min-height: pem(44);
    max-height: pem(44);
}

%container--centered {
    @include mq('med') {
        max-width: map-get($map: $breaks, $key: 'med' );
    }
    @include mq('lg'){
        max-width: $container--max-width;
        padding: pem(16);
    }
    margin: auto;
}
