// ==========================================================================
// Links
// ==========================================================================

%link {
    text-decoration: none;
}

// ==========================================================================
// Images
// ==========================================================================

%img--center {
    display: block;
    margin: 0 auto;
}

// ==========================================================================
// Headlines
// ==========================================================================

%headline--primary {
    font-weight: $font-weight--ultra-bold;
    color: $color--secondary;
    margin-left: $margin--two;
}

%headline--secondary {
    font-weight: $font-weight--light;
}

// ==========================================================================
// Navigation
// ==========================================================================

%nav--item {
    display: block;
    width: 100%;
    padding: pem(12);
    &:hover,
     :active {
        border-radius: $border--radius;
        background: $color--secondary;
        color: $white;
    }

    @include mq('med') {
        margin: $margin--one 0;
    }

    @include mq('lg') {
        margin: 0 $margin--one;
    }

    a {
        @extend %link;
        color: $grey;
        &:hover {
            color: $white;
        }
    }

    &:hover {
        a {
            color: $color--nav-link-hover;
        }
    }
}

// ==========================================================================
// Alignment
// ==========================================================================

%text--center {
    text-align: center;
}

%centered--x {
    margin-left: auto;
    margin-right: auto;
}

