//Use this partial to create variables for your repeated values.
//At minimum, create variables for fonts, breakpoints, and colors.

// ==========================================================================
// Fonts
// ==========================================================================
$base--font-size: 16;
$font-url: "https://fonts.googleapis.com/css?family=Open+Sans";
$font-stack--primary: 'Open Sans',
sans-serif;
// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// ==========================================================================
// Functions
// ==========================================================================
//Pixels to em
@function pem($target, $context: $base--font-size) {
    @return (($target / $base--font-size) * 1em);
}

//Load imported fonts
@if variable-exists(font-url) {
    @import url($font-url);
}

//Value to pixels
@function pixels($target) {
    @return(($target * 1px));
}

// ==========================================================================
// Margins & Rounded Corners
// ==========================================================================

$margin--one: pem(8);
$margin--two: pem(16);
$margin--three: pem(24);
$margin--four: pem(32);

//Rounded edges
$border--radius: pem(5.5);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breaks: (
    'med': 480px,
    'lg': 769px
);

$container--max-width: 1260px;

// ==========================================================================
// Colors
// ==========================================================================

$viking: #58E1C1;
$malibu: #52DDFC;
$emerald: #63CC82;
$sunglo: #E4757A;
$coral: #FD7856;
$majesty: #927BC1;
$riptide: #80E8D1;
$shakespeare: #3FABCA;
$anakiwa: #7EE6FD;
$lilac: #DEB2EE;
$vista: #88D9A0;
$sea-pink: #EC9FA3;
$tangerine: #FD9F85;
$black: #222;
$white: #fff;

//Main colors
$color--primary: $malibu;
$color--secondary: $viking;

//Navigation
$color--nav-link: $black;
$color--nav-link-hover: $white;

//Buttons
$color--default: $color--primary;
$color--success: $emerald;
$color--error: $sunglo;
$color--warning: $coral;
$color--info: $majesty;

$color--buttons: (
    'default': $color--default,
    'success': $color--success,
    'error': $color--error,
    'warning': $color--warning,
    'info': $color--info
);

//Grid System

$color--grid: (
    '3': $lilac,
    '4': $anakiwa,
    '5': $vista,
    '6': $shakespeare,
    '7': $sea-pink,
    '8': $tangerine,
    '12': $riptide
);

// ==========================================================================
// Grid Config
// ==========================================================================

$grid--width: 1260;
$grid-row--width: percentage($number: 1);
$grid--columns: 12;
$grid--gutters: pem(5);
$grid-col--width: (
     '3': (3/$grid--columns), 
     '4': (4/$grid--columns),
     '5': (5/$grid--columns), 
     '6': (6/$grid--columns), 
     '7': (7/$grid--columns), 
     '8': (8/$grid--columns), 
     '12': (12/$grid--columns)
     );

