[class^="btn--"] {
    @extend %btn;
    @extend %text--center;
    
    @include mq('med') {
        width: 100%;
    }

    @include mq('lg') {
        width: auto;
    }
}

@each $button, $color in $color--buttons {
    .btn {
        @include m(#{$button}) {
            &.theme{
                @include e('colors') {
                    background: $color;
                }
            }
        }
    }
}