.form {
    @extend %form--flex;
    
    @include e('label') {
        @include m('hidden') {
            display: none;
        }
    }

    @include e('input') {
        border: none;
        border-bottom: thick solid $color--secondary;
        margin: pem(20);
        padding: pem(16);
    }
}