.container {
    @extend %flex--column;
    flex-wrap: wrap;
    margin: auto;

    @include mq('med') {
        max-width: 68%;
    }
    @include mq('lg') {
        max-width: pem(980);
    }
}

.grid {
    @include e('row') {
        max-width: pixels($grid--width);
        margin-top: $margin--two;
        margin-bottom: $margin--two;

        @include mq('med') {
            display: block;
        }

        @include mq('lg') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @include e('col') {
        @each $col, $width in $grid-col--width {
            @include m(#{$col}) {
                margin: 0 $margin--one $margin--two;
                flex: $width;
                &.centered {
                    @extend %centered--x;
                }
            }
            
        }
    }

}

@each $el, $color in $color--grid {
    .grid__col--#{$el}.theme__colors {
        background: #{$color};
        padding-top: pem(8);
        border-radius: $border--radius;
        text-align: center;
        min-height: pem(44);
        max-height: pem(44);
    }
}