.img {
    @include m(logo) {
        @extend %img--center;
    }

    @include m(frame) {
        @extend %img--center;
        border: thin solid $grey;
        padding: pem(16);
        width: 100%;
    }
    
    @include m(avatar) {
        display: block;
        margin: $margin--two auto;
    }
}