//the universal selector (*)
* {
    box-sizing: border-box;
}

//ul elements
ul {
    padding-left: 0;
    margin: 5em auto 10em;
    text-align: center;
}

//p elements
p {
    line-height: pem(24);
}